<%client = Instagram.client(:access_token => session[:access_token])%>
<%picture = Picture.get_category_pictures(client, @category)%>
<div class="masthead clearfix">
  <div class="container">
    <!-- Logo -->
    <ul class = "nav-justified" >
      <li >
        <a href = "/"><img class="logo" src = "/images/logo.png"></a>        
      </li>
      <li>
       <form method="post" action="/search" class="navbar-form" role="search">
          <div class="form-group">
            <input name = "category" type="text" class="form-control" placeholder="Enter your tag here...">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>        
      </li>
      <li>
       <div></div>
      </li>  
      <li>        
          <button onclick="window.location.href='/oauth/disconnect'" class="btn btn-primary"  >
            <b>Log Out</b>
          </button>       
      </li>      
    </ul>
  </div>
</div>
<% for i in (0..picture.size - 1) %>
<div class ="container">
  <div class = "row "><!-- #large category images only -->    
    <div class = "thumbnail center-block" >          
      <img class="img-responsive" src=<%=picture[i].images.standard_resolution.url%>> 
      <div class="caption imghuge" id="caption-half-up">
        <form id ='beat' method="post" action="">
          <a href ="/beatit" class ="btn-primary" onclick="document.getElementById('beat').submit();">
            <img src = "/images/fist.png" class = "icon"></img>
          </a>
        </form>        
      </div>
      <div class="caption imghuge" id="caption-half-down">
        <%if picture[i].user_has_liked%>
        <form id ='unlikeform' method="post" action="<%=@category%>/media_unlike/<%=picture[i].id%>">
          <a href ="#" class ="btn-primary" onclick="document.getElementById('unlikeform').submit();">
            <img src = "/images/liked.png" class = "icon"></img>
          </a>
        </form>
        
        <%else%>
          <form id ='likeform' method="post" action="<%=@category%>/media_like/<%=picture[i].id%>">
            <a href ="#" class ="btn-primary" onclick="document.getElementById('likeform').submit();">
              <img src = "/images/like.png" class = "icon"></img>
            </a>
        </form>
        <%end%>


        <p><%=LikesCount=picture[i].likes[:count]%> Likes</p>                 
      </div>         
    </div>    
  </div>
</div>
<% end %> <!-- End of for loop -->