<div class="masthead clearfix">
  <div class="container">
    <!-- Logo -->
    <ul class = "nav-justified" >
      <li >
        <h1 class="logo">PikzArena</h1>        
      </li>
      <li>
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your tag here...">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </li>  
      <li>
        <% if session[:access_token] == nil %>
          <button onclick="window.location.href='oauth/connect'" class="btn btn-primary"><b>Connect with Instagram</b></button>
        <% else %>
          <button onclick="window.location.href='oauth/disconnect'" class="btn btn-primary"  ><b>Log Out</b></button>
        <% end %>
      </li>
      
    </ul>
  </div>
</div> <!-- mastheadflix is the nav bar with logo-->

<!-- image with hover captions -->

<div class ="container">
  <div class = "row"><!-- #large category images -->

    <%
    client = Instagram.client(:access_token => session[:access_token])
     pictures_with_more_likes = Picture.get_all_category_pictures_with_more_likes(client) 
    for i in 0..3
    %>

    <div class="col-xs-3 col-sm-3 col-md-3"><div class = "thumbnail" >
        <a href = "/category/<%= pictures_with_more_likes[i].category %>" >
          <img class="img-responsive" src=<%=pictures_with_more_likes[i].standard_resolution_url%> >
          <div class="caption imgbig" id="caption-half-up">
            <p>
              <%=pictures_with_more_likes[i].category%>
            </p>
          </div>
          <div class="caption" id="caption-half-down"></div>          
        </a>
      </div>
     </div> <!-- col-xs-12 col-sm-6 --> 

    <%end%> <!--  End of for loop -->
  </div><!--  End of row for large images -->


  <!-- Following row contains small images -->
  <% for i in (1..(pictures_with_more_likes.size-4)/6) %>
  <% a = (pictures_with_more_likes.size-4) % 6%>
    <div class="row">
      <% n = i + 3 %>
      <%6.times do%>
        <div class="col-xs-2 col-sm-2 col-md-2">
          <div class = "thumbnail" >
            <a href = "/category/<%= pictures_with_more_likes[n].category %>" >
              <img class="img-responsive" src=<%=pictures_with_more_likes[n].standard_resolution_url%>>
              <div class="caption imgsmall" id="caption-half-up">
                <p>
                  <%=pictures_with_more_likes[n].category %>
                </p>
              </div>
              <div class="caption" id="caption-half-down"></div>             
            </a>
          </div>
        </div>
        <%n = n + 1%>
      <%end%>
    </div>
  <%end%>

  <div class="row">
    <%a.times do%>      
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class = "thumbnail" >
          <a href = "/category/<%= pictures_with_more_likes[n].category %>" >
            <img class="img-responsive" src=<%=pictures_with_more_likes[n].standard_resolution_url%> >
            <div class="caption imgsmall" id="caption-half-up">
              <p>
                <%=pictures_with_more_likes[n].category%>
              </p>
            </div>
            <div class="caption" id="caption-half-down"></div>         
          </a>
        </div>
      </div>      
      <%n = n + 1%>
    <%end%>
  </div>
</div> <!-- #container -->

