<div class="blur masthead clearfix">
  <div class="container">
    <!-- Logo -->
      <h1 class="logo">PikzArena</h1> 
  </div>
</div> <!-- mastheadflix -->



  <div class="row">    
    <h1 class="text-center">Welcome to <span class = logo>PikzArena</span></h1>      
    <h1 class="text-center"><a href="oauth/connect" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Connect with Instagram</a></h1>    
  </div>

  <!-- Dummy image -->
  <% @image =
    '<div class = "thumbnail" >
        <img class="img-responsive" src="https://scontent.cdninstagram.com/t51.2885-19/11809553_970068183035932_291188876_a.jpg" >
        
    </div>' %>

<div class ="blur container" >
  <div class = "row"><!-- #large category images -->
    <div class="col-md-3"><%= @image %></div> <!-- col-xs-12 col-sm-6 --> 
    <div class="col-md-3"><%= @image %></div>
    <div class="col-md-3"><%= @image %></div>
    <div class="col-md-3"><%= @image %></div>
  </div>
  <!-- Following row contains small images -->
  <div class="row">
    <div class="col-md-2"><!-- col-xs-8 col-sm-4 --> 
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
    <div class="col-md-2">
      <%= @image %>
    </div>
  </div>
</div>

